.page {
    margin: 0 auto;
    padding: 0;
    max-width: 1184px;
    width: 100%;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;    
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .page {
        max-width: 425px;
    }
}