.photo-grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 284px);
    gap: 16px;
    margin-top: 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 14px;
        margin-top: 88px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, 352px);
        gap: 16px;
        margin-top: 72px;
        max-width: 720px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 12px;
        margin-top: 64px;
        max-width: 288px;
    }
}