.places {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;    
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 950px) {
    .places {
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
    }
}

@media screen and (max-width: 730px) {
    .places {
        max-width: 600px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        max-width: 425px;
    }
}