.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 96px;
    font-style: normal;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 692px) {
    .lead__title {
        max-width: 425px;
        font-size: 50px;
        line-height: 54px;
    }
}

@media screen and (max-width: 430px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}