.cover {
    display: flex;
    margin-top: 92px;    
    background-image: url(../../images/sprint-3-images/sprint-3-images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin-top: 66px;
    }
}