.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 24px;  
}

@media screen and (max-width: 1190px) {
    .footer {
        max-width: 1010px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 950px) {
    .footer {
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 88px;
        max-width: 720px;
    }
}

@media screen and (max-width: 730px) {
    .footer {
        max-width: 665px;
    }
}

@media screen and (max-width: 678px) {
    .footer {
        max-width: 415px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        margin-top: 64px;
        max-width: 288px;
        flex-direction: column;  
    }
}